<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<!-- <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"> -->

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="/static/js/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/static/js/bootstrap.min.js"></script>
	
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/bootstrap-switch.js"></script>

	<title>Home</title>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Arduino控制</h1>
			<table style="width: 100%">
				<tr>
					<td>序列号：{{token}}</td>
					<td><a href="logout">登出</a></td>
				</tr>
			</table>
		</div>
		<table style="width: 100%; margin: 10px" border="0">
			<!-- <tr>
				<td>震动：</td>
				<td><button type="button" class="btn btn-primary" command="1" onclick="send_command(this)">发送</button></td>
			</tr>
			<tr>
				<td>长震动：</td>
				<td><button type="button" class="btn btn-primary" command="2" onclick="send_command(this)">发送</button></td>
			</tr> -->
		
		<tr>
		<td style="width: 30%; text-align: center">
			<p>
				<label for="speed">速度：</label>
				<input type="text" id="speed" stype="border:0; color:#f6931f; font-weight:bold;">
			</p>
			<div id="slider-speed" style="height: 200px;"></div>
		</td>

		<td style="width: 30%; text-align: center">
			<p>
				<label for="direction">正反转：</label>
				<div class="switch" data-on-label="SI" data-off-label="NO">
			    	<input type="checkbox" name="direction-checkbox" id="direction-input" checked />
				</div>
			</p>
			
		</td>

		<td style="width: 30%; text-align: center">
			<p>
				<label for="frequency">频率：</label>
				<input type="text" id="frequency" stype="border:0; color:#f6931f; font-weight:bold;">
			</p>
			<div id="slider-frequency" style="height: 200px;"></div>
		</td>
			

		</tr>

		<tr>
			<td colspan="2" style="text-align: center"><button type="button" class="btn btn-primary" id="send1">发送</button></td>
			
			<td style="text-align: center"><button type="button" class="btn btn-primary" id="send2">发送</button></td>
		</tr>

			
		
		</table>
		

		
	</div>
</body>
<script type="text/javascript">

	$("[name='direction-checkbox']").bootstrapSwitch();

	$(function() {
		$("#slider-speed").slider({
			orientation: "vertical",
			range:"min",
			min: 0,
			max: 255,
			value: 0,
			slide: function(event, ui) {
				$("#speed").val(ui.value);
			}
		});
		$("#speed").val($("#slider-speed").slider("value"));
	});

	$(function() {
		$("#slider-frequency").slider({
			orientation: "vertical",
			range:"min",
			min: 0,
			max: 255,
			value: 0,
			slide: function(event, ui) {
				$("#frequency").val(ui.value);
			}
		});
		$("#frequency").val($("#slider-frequency").slider("value"));
	});

	$("#send1").click(function(){
		console.log("send1");
		var speed = $("#slider-speed").slider("value");
		var direction = $('input[name="direction-checkbox"]').bootstrapSwitch('state');
		console.log(speed);
		console.log(direction);
		$.ajax({
			type: 'POST',
			url: 'add_action',
			data: {'action_mode':1, 'speed':speed, 'direction':direction},
			success: function(data) {
				if(data.success == 'true') {
					alert(data.msg);
				} else {
					alert(data.msg);
				}
			},
			error: function() {
				alert('服务器出错');
			}
		});
	});

	$("#send2").click(function(){
		console.log("send2");
		var frequency = $("#slider-frequency").slider("value");
		console.log(frequency);
		$.ajax({
			type: 'POST',
			url: 'add_action',
			data: {'action_mode':2, 'frequency':frequency},
			success: function(data) {
				if(data.success == 'true') {
					alert(data.msg);
				} else {
					alert(data.msg);
				}
			},
			error: function() {
				alert('服务器出错');
			}
		});
	});
	// function send_command(obj) {
	// 	command = $(obj).attr('command')
	// 	console.log(command)
	// 	$.ajax({
	// 		type: 'POST',
	// 		url: 'add_action',
	// 		data: {action_id:command},
	// 		success: function(data) {
	// 			if(data.success == 'true') {
	// 				alert(data.msg);
	// 			} else {
	// 				alert(data.msg);
	// 			}
	// 		},
	// 		error: function() {
	// 			alert('服务器出错');
	// 		}
	// 	});
	// }
	

</script>
</html>